$borderRadius: 10px;

// Colors:
$pink: #ef8cc1;
$purple: #8778d7;
$cyan: #00c7e6;
$white: #fff;
$blue: #8687f3;

$surface1: #ebecf0;

$blueGradient45: linear-gradient(45deg, #403496, #00c7e6);
$pinkGradient45: linear-gradient(45deg, $white, $pink);
$bluePinkGradient45: linear-gradient(45deg, #8687f3, #8687f3);
